<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config/>
    <context:component-scan base-package="com.bjoggis.dev"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound">
            <value>true</value>
        </property>
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="quartzProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="quartz.properties"></property>
    </bean>

    <bean class="com.bjoggis.dev.config.JobScheduler">
        <property name="autoStartup" value="true"/>
        <property name="schedulerName" value="newsquad-scheduler"/>
        <property name="quartzProperties" ref="quartzProperties"/>
        <property name="startupDelay" value="2"/>
        <property name="overwriteExistingJobs" value="true"/>
        <property name="dataSource" ref="getDataSource"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        <property name="scheduledTriggers">
            <map>
                <entry key="TriggerWithList" value="true"/>
                <entry key="triggerNoList" value="true"/>
            </map>
        </property>
    </bean>


    <bean id="TriggerWithList" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
                <property name="jobClass" value="com.bjoggis.dev.util.MyDetailsQuartzJobBean"/>
                <property name="name" value="trigger-with-list"/>
                <property name="durability" value="true"/>
                <property name="jobDataAsMap">
                    <map>
                        <entry key="targetObject" value="testBeanName3"/>
                        <entry key="targetMethod" value="refresh"/>
                        <entry key="arguments" value="
                        Hei.Deg,
                        false,
                        ${test.variable}">
                        </entry>
                    </map>
                </property>
            </bean>
        </property>
        <property name="cronExpression" value="0/5 * * * * ?"/>
    </bean>

    <bean id="triggerNoList" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
                <property name="jobClass" value="com.bjoggis.dev.util.MyDetailsQuartzJobBean"/>
                <property name="name" value="trigger-no-list"/>
                <property name="jobDataAsMap">
                    <map>
                        <entry key="targetObject" value="testBeanName3"/>
                        <entry key="targetMethod" value="noe"/>
                    </map>
                </property>
                <property name="durability" value="true"/>
            </bean>
        </property>
        <property name="cronExpression" value="0/2 * * * * ?"/>
    </bean>

    <bean id="testBeanName3" class="com.bjoggis.dev.TestBean"/>
</beans>



